<%= render "layouts/header" %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initMap" async defer></script>

<script>
  console.log("Google Maps API Key:", "<%= ENV["GOOGLE_MAPS_API_KEY"] %>");
</script>


  <script>
    function initMap() {
      navigator.geolocation.getCurrentPosition((position) => {
        let userLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        let map = new google.maps.Map(document.getElementById('map'),{
          center: userLocation,
          zoom: 15
        });

      const image = "https://maps.google.com/mapfiles/ms/icons/blue-dot.png";

      new google.maps.Marker({
        position: userLocation,
        map: map,
        title: "あなたの現在地",
        icon: image
      });
      nearShowStore(map, userLocation);
    });
  }

  function nearShowStore(map,userLocation){
    const service = new google.maps.places.PlacesService(map)
    
    service.nearbySearch({
      location: userLocation,
      radius: 5000,
      keyword: "古着屋 リサイクルショップ"
    }, (results, status) => {
      results.forEach((place) => {
        const marker = new google.maps.Marker({
          position: place.geometry.location,
          map: map,
          title: place.name,
        });

      const contents =  `
        <div>
          <strong>${place.name}</strong><br>
          <strong>住所:</strong>${place.vicinity}
        </div>`;

      const infoWindow = new google.maps.InfoWindow({
        content: contents
      });

      marker.addListener('click', () => {
        infoWindow.open(map,marker);
      });
      });
    }
  )}

  

  

  </script>

<h1>Google Maps 表示</h1>
<div id="map" style="height: 800px; width: 100%;"></div>

